@import "var.scss";
@import "global.scss";

#app {
  background-color: $theme-background-color;
  font-family: Avenir,
  Helvetica,
  Arial,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
  @include layout(flex-start, stretch, column);
}

.music-content {
  flex: 1;
}
